<tr class="campaign-row">
    <td>
        <label for="" class="label-size" i18n>
            {{campaign.createdOn | date :'MMM yyyy, dd'}}</label>
        <div>
            <label class="label-size" i18n>
                {{calculateDiff(campaign.createdOn)}}</label>
        </div>
    </td>
    <td style="position: relative;">
        <img class="campaign-icon" [src]="(imgPath + campaign.image_url)" />
        <ul class="campaign-info">
            <li>
                <label class="label-size" style="font-size: 16px; 
    line-height: 24px;" i18n>{{campaign.name}}</label>
            </li>
            <li>
                <label class="label-size" i18n>{{campaign.region}}</label>
            </li>
        </ul>
    </td>
    <td>
        <img class="icon-size" (click)="openDialog($event)"
            [src]="(imgPath + 'Dashboard/Row Copy 2-Row/Group 4/Price.png')">
        <label class="label-size" i18n> View Pricing</label>
    </td>
    <td>
        <ul class="action-list">
            <li>
                <a href="https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv" target="_blank">
                    <img class="icon-size" [src]="(imgPath + 'Dashboard/Row Copy 2-Row/Group 3/file.png')">
                </a>
                <label class="label-size" i18n>CSV</label>
            </li>
            <li>
                <a href="http://www.africau.edu/images/default/sample.pdf" target="_blank">
                    <img class="icon-size" [src]="(imgPath + 'Dashboard/Row Copy 2-Row/Group 2/statistics-report.png')">
                    <label class="label-size" i18n>Report</label>
                </a>
            </li>
            <li>
                <bs-datepicker (bsValueChange)="changeDate($event)" [bsValue]="campaign.createdOn" #dp="bsDatepicker"
                    bsDatepicker>
                </bs-datepicker>
                <img class="icon-size" [src]="(imgPath + 'Dashboard/Row Copy 2-Row/Group/calendar.png')" (click)="dp.toggle()">
                <label class="label-size" i18n>Schedule Again</label>
            </li>
        </ul>
    </td>
</tr>