<div class="container">
    <div class="title">
        <img class="logo" src="../../../assets/Images/inspect/Front-End/Page 1/Dashboard/logo.png">
    </div>
    <div class="campaign-wrapper">
        <label class="heading" i18n> Manage Campaign</label>
        <section id="tabs" class="project-tab">
            <div class="nav-container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Navigation Bar -->
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-upcoming-tab" data-toggle="tab"
                                    href="#nav-upcoming" role="tab" aria-controls="nav-upcoming"
                                    aria-selected="false" i18n>Upcoming Campaigns</a>
                                <a class="nav-item nav-link" id="nav-live-tab" data-toggle="tab" href="#nav-live"
                                    role="tab" aria-controls="nav-live" aria-selected="false" i18n>Live Campaigns</a>
                                <a class="nav-item nav-link" id="nav-past-tab" data-toggle="tab" href="#nav-past"
                                    role="tab" aria-controls="nav-past" aria-selected="false" i18n>Past Campaigns</a>
                            </div>
                        </nav>

                        <div class="base-line"></div>

                         <!-- Upcoming Tab -->
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-upcoming" role="tabpanel"
                                aria-labelledby="nav-upcoming-tab">
                                <table class="table" cellspacing="0" i18n>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Campaign</th>
                                            <th>View</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="allData && allData.upcomingCampaignsArray">
                                        <ng-container
                                            *ngFor="let campaign of allData.upcomingCampaignsArray;let i =index">
                                            <campaign-row class="campaign-details" *ngIf="campaign"
                                                [campaign]="campaign"
                                                (openDialogEvent)="openDialog($event,campaign,campaignDetailTemplate)"
                                                (changeDateEvent)="changeDate($event,'upcomingCampaignsArray',campaign,i)">
                                            </campaign-row>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Live Tab -->
                            <div class="tab-pane fade" id="nav-live" role="tabpanel" aria-labelledby="nav-live-tab">
                                <table class="table" cellspacing="0" i18n>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Campaign</th>
                                            <th>View</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="allData && allData.liveCampaignsArray">
                                        <ng-container *ngFor="let campaign of allData.liveCampaignsArray;let i =index">
                                            <campaign-row class="campaign-details" *ngIf="campaign"
                                                [campaign]="campaign"
                                                (openDialogEvent)="openDialog($event,campaign,campaignDetailTemplate)"
                                                (changeDateEvent)="changeDate($event,'liveCampaignsArray',campaign,i)">
                                            </campaign-row>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Past Tab -->
                            <div class="tab-pane fade" id="nav-past" role="tabpanel" aria-labelledby="nav-past-tab">
                                <table class="table" cellspacing="0" i18n>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Campaign</th>
                                            <th>View</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="allData && allData.pastCampaignsArray">
                                        <ng-container *ngFor="let campaign of allData.pastCampaignsArray;let i =index">
                                            <campaign-row class="campaign-details" *ngIf="campaign"
                                                [campaign]="campaign"
                                                (openDialogEvent)="openDialog($event,campaign,campaignDetailTemplate)"
                                                (changeDateEvent)="changeDate($event,'pastCampaignsArray',campaign,i)">
                                            </campaign-row>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Create Task Template-->
<ng-template #campaignDetailTemplate>

    <!-- Heading -->
    <campaign-detail [campaign]="selectedCampaign" (hideModalEvent)="hideModal()">
    </campaign-detail>
</ng-template>