/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
}

.modal-medium {
    width: 400px !important;
    height: 464px !important;
}

.modal-content {
    width: 400px;
    height: 464px;

    background: #FFFFFF;
}