.campaign-info{
    position: absolute;
    display: inline;
    list-style-type: none;
    top: 35%;
    left: 47%;
  }

  .label-size{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    left: 3%;
    
    color: #7788A3;
  }

  .header{
    height: 32px;
    left: 5%;
    right: 75.75%;
    top: calc(50% - 32px/2 - 42.5px);
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    margin-top: 30px;;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */   
    
    color: #2B416C;
  }

  .price-field{
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
/* identical to box height, or 150% */

    color: #7788A3;
  }

  .font-weight{
      font-weight: 600;
  }

  .right-align{
      float: right;
      color: #556789;
  }

  .close-button{
    border: 2px solid #181B34;
    text-align: center;
    width: 84px;
    margin: auto;
    height: 48px;
    padding: 2px;
    margin-top: 26px;
    cursor: pointer;
  }

  .close-button img{
    margin-top: 13px;;
  }