<form>
    <div class="modal-body">
        <div>
            <img [src]="(imgPath + campaign.image_url)">
            <ul class="campaign-info">
                <li>
                    <label class="label-size" style="font-size: 16px;
            line-height: 19px;color: #2B416C; font-weight: 600;" i18n>{{campaign.name}}</label>
                </li>
                <li>
                    <label class="label-size" i18n>{{campaign.region}}</label>
                </li>
            </ul>
        </div>
        <div>
            <label class="header" i18n>Pricing</label>
            <div class="row">
                <div class="col-sm-5">
                    <label for="" class="price-field" i18n> 1-Week 1-Month</label>
                </div>
                <div class="col-sm-7">
                    <label for="" class="price-field font-weight right-align" i18n> $ 10000</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label for="" class="price-field" i18n> 6 Months</label>
                </div>
                <div class="col-sm-7">
                    <label for="" class="price-field font-weight right-align" i18n> $ 10000</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label for="" class="price-field" i18n> 1 Year</label>
                </div>
                <div class="col-sm-7">
                    <label for="" class="price-field font-weight right-align" i18n> $ 10000</label>
                </div>
            </div>
        </div>
    </div>
    <div  (click)="hideModal()" class="close-button">
        <img [src]="(imgPath + 'Dashboard-Popup/Download BlueStacks.png')">
    </div>
</form>